[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = http://github.com/wincent/Command-T.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/The-NERD-tree"]
	path = .vim/bundle/The-NERD-tree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = http://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule ".vim/bundle/bufkill"]
	path = .vim/bundle/bufkill
	url = http://github.com/vim-scripts/bufkill.vim.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = http://github.com/mirell/vim-matchit.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = http://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
